body,
div,
input,
textarea,
pre,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol {
  margin: 0;
  padding: 0;
  font: 11px "Helvetica Neue", "Microsoft YaHei", sans-serif;
  color: #555555;
}
ol,
ul,
li {
  list-style: none;
}
input {
  background: #fff;
}
.title {
  font-weight: 100;
  color: #353535;
  margin-bottom: 0.5em;
}
.title.title1 {
  font-size: 45px;
}
.title.title2 {
  font-size: 29px;
}
.inputItem input {
  font-size: 18px;
}
.inputItem label {
  display: inline-block;
  width: 6em;
  font-size: 18px;
}
.btn {
  display: inline-block;
  font-size: 14px;
  padding: 4px 8px;
  margin-right: 8px;
  cursor: pointer;
}
.btn.blue {
  border: 1px #259dff solid;
  color: #259dff;
}
.btn.blue:hover {
  color: #fff;
  background: #259dff;
}
.btn.blue:active,
.btn.blue.selected {
  color: #fff;
  background: #1e73b8;
}
section {
  margin-left: 3%;
}
.message {
  font-size: 14px;
  color: #259dff;
}
.message.red {
  color: #ff2525;
}
.right-bottom-position {
  position: fixed !important;
  bottom: 0;
  right: 0;
}
.option-box {
  margin: 0 30px 10px 0;
}
.hide {
  display: none;
}
.common-pagetag {
  margin: 60px 3% 7%;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 55px;
  background: #eeeeee;
  border-bottom: 1px #dddddd solid;
}
header .hongkonglaoma {
  font-size: 25px;
  margin-left: 3%;
  line-height: 55px;
  color: #259dff;
}
.common-fileuploader {
  position: fixed;
  border: 2px solid #ddd;
  width: 500px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -250px;
}
.option-box {
  position: relative;
}
.option-box .menu {
  transition: top 0.2s ease-in;
  position: absolute;
  top: 40px;
  right: 45px;
}
.option-box .menu.show {
  top: 0px;
}
.option-box .icon {
  transition: transform 0.5s ease-in;
  transform: rotate(90);
}
.option-box .icon.up {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.option-box .icon.down {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
#content {
  position: absolute;
  top: 55px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.article-list {
  margin-top: 75px;
}
.article-list .article-list-item {
  margin-top: 40px;
}
.article-content {
  margin-top: 75px;
}
.article-editarea {
  height: 100%;
  white-space: nowrap;
}
.article-editarea .input-area,
.article-editarea .show-area {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  height: 100%;
  min-width: 550px;
  color: #333;
}
.article-editarea .input-area section,
.article-editarea .show-area section {
  height: 100%;
  overflow-y: scroll;
}
.article-editarea .input-area {
  height: 100%;
  background: #272822;
}
.article-editarea .input-area input,
.article-editarea .input-area textarea {
  width: 100%;
  border: none;
  color: #f8f8f2;
  background: inherit;
}
.article-editarea .input-area textarea {
  font-size: 14px;
  line-height: 1.8;
  overflow: hidden;
}
.article-editarea .show-area .article-detail h1,
.article-editarea .show-area .article-detail h2,
.article-editarea .show-area .article-detail h3,
.article-editarea .show-area .article-detail h4,
.article-editarea .show-area .article-detail h5,
.article-editarea .show-area .article-detail h6 {
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.4em;
}
.article-editarea .show-area .article-detail h1,
.article-editarea .show-area .article-detail h2 {
  border-bottom: 1px solid #eee;
  padding-bottom: 0.3em;
  margin-top: 0 !important;
}
.article-editarea .show-area .article-detail h1 {
  font-size: 36px;
}
.article-editarea .show-area .article-detail h2 {
  font-size: 28px;
}
.article-editarea .show-area .article-detail h3 {
  font-size: 24px;
}
.article-editarea .show-area .article-detail h4 {
  font-size: 20px;
}
.article-editarea .show-area .article-detail h5 {
  font-size: 16px;
}
.article-editarea .show-area .article-detail h6 {
  font-size: 16px;
  color: #777;
}
.article-list .article-detail,
.article-content .article-detail,
.article-editarea .article-detail {
  font-size: 14px;
  line-height: 1.8;
}
