@import "common.less";
@import "pagetag.less";
@import "header.less";

.article-list {
    margin-top: @header-height + 20;
    .article-list-item {
        margin-top: 40px;
    }
}

.article-content {
    margin-top: @header-height + 20;
}

.article-editarea {
    margin-top: @header-height;
    white-space: nowrap;
    .input-area,.show-area {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        min-width: 550px;
        
    }
    .input-area {
        background: #272822;
        input,textarea {
            width: 100%;
            border: none;
            background: inherit;
        }
        textarea {
            font-size: 14px;
            line-height: 1.8;
            h1 {
                font-size: 36px;
                border-bottom: 1px solid #eee;
                font-weight: bold;
            }
            h2 {
            }
        }
    }
}

.article-list,.article-content,.article-editarea {
    .article-detail {
        font-size: 14px;
        line-height: 1.8;
        h1 {
        }
    }
}
