@text-black-1: #353535;
@text-black-2: #555;
@text-black-3: #aeaeae;
@text-blue-1: #259dff;
@text-blue-2: #1e73b8;
@text-red-1: #ff2525;
@text-green-1: #08592b;
@text-green-2: #7dbd33;
@background-gray-1: #eee;
@background-gray-2: #ddd;
@common-margin-left: 3%;

body,div,input,textarea,pre,h1,h2,h3,h4,h5,h6,ul,li,ol {
    margin: 0;
    padding: 0;
    font: 11px "Helvetica Neue","Microsoft YaHei",sans-serif;
    color: @text-black-2;
}

ol,ul,li {
    list-style:none;
}

input {
    background: #fff;
}
