@import "base.less";

.title {
    font-weight: 100;
    color: @text-black-1;
    &.title1 {
        font-size: 45px;
        margin-bottom: 0.3em;
    }
}

.inputItem {
    input {
        font-size: 18px;
    }
    label {
        display: inline-block;
        width: 6em;
        font-size: 18px;
    }
}

.btn {
    display: inline-block;
    font-size: 14px;
    padding: 4px 8px;
    margin-right: 8px;
    border: 1px @text-blue-1 solid;
    color: @text-blue-1;
}

.message {
    font-size: 14px;
    color: @text-blue-1;
    &.red {
        color: @text-red-1;
    }
}
