@import "common.less";

@header-height: 55px;

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: @header-height;
    background: @background-gray-1;
    border-bottom: 1px @background-gray-2 solid;
    .hongkonglaoma {
        font-size: 25px;
        margin-left: @common-margin-left;
        line-height: @header-height;
        color: @text-blue-1;
    }
}
